.chat{
  width: 50%;
  min-height: 50vh;
  max-height: 50vh;
  overflow: scroll;
  border: 2px solid black;
}

.toMs{
  width: 45%;
  background-color: rgb(8, 8, 134);
  margin-bottom: 10px;
  color: white;
  padding: 5px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(109, 109, 109, 0.788);
}

.fromMs{
  width: 45%;
  padding: 5px;
  color: white;
  background-color:  rgb(0, 117, 10);
  margin-left: 53%;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(109, 109, 109, 0.521);
}